<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301509737446-75r8r6o1iv2s6n26q6glm9e3ueb1j81f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301509737446-75r8r6o1iv2s6n26q6glm9e3ueb1j81f</string>
	<key>API_KEY</key>
	<string>AIzaSyDi8VoaNXS7EDtwEP-0f55TnWGhukvV5IY</string>
	<key>GCM_SENDER_ID</key>
	<string>301509737446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryanbd.chat-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-703bc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-703bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301509737446:ios:8102f5a00bed15f2667427</string>
</dict>
</plist>